.btn-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.btn-success {
    color: #fff;
    background-color: green;
    border-color: green;
}

.btn-danger {
    color: #fff;
    background-color: red;
    border-color: red;
}